APP_NAME=MVC
APP_URL=http://localhost/

#MAILER
M_HOST=smtp.example.com
M_USERNAME=
M_PASSWORD=
M_PORT=465

#DATABASE
DB_DRIVE="" #pdo or mysqli
DB_HOST=""
DB_NAME=""
DB_USER=""
DB_PASS=""
DB_CHARSET=utf8