:root {
    --cl-pd: rgb(255, 255, 255);
    --cl-sd: rgb(58, 58, 58);
    --cl-link: rgb(17, 53, 131);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cl-pd);
    overflow: hidden;
}

.container-1 {
    width: 100%;
    max-width: 1248px;
    margin: auto;
}

/**************
    WELCOME
************/

.welcome {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cl-sd);
}

.welcome>h1 {
    margin: 0px auto 50px auto;
    font-size: 50px;
}

/**************
    HEADER
************/

.header {
    background: var(--cl-pd);
    width: 100%;
    box-shadow: 0px 5px 15px rgba(185, 185, 185, 0.411);
    z-index: 50;
    position: relative;
}

.navbar-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.box-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.link-item {
    text-decoration: none;
    display: block;
    padding: 10px 12px;
    margin: 10px;
    box-sizing: border-box;
    color: var(--cl-sd);
    border: 1px solid transparent;
    transition: all 250ms ease-in;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--cl-pd);
}

.box-tools {
    position: relative;
}

.link-cl1 {
    box-shadow: 0px 2px 8px rgba(185, 185, 185, 0.411);
}

.link-cl1:hover, .link-active:hover {
    background-color: rgba(47, 47, 151, 0.205);
}

.link-active {
    box-shadow: 0px 2px 8px transparent;
}

.link-cl2:hover {
    background-color: rgba(151, 151, 151, 0.151);
}

/***Links - Modal Options***/

.link-item-opt {
    position: absolute;
    right: 0;
    top: 105%;
    z-index: 55;
    min-width: 250px;
    background-color: var(--cl-pd);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(185, 185, 185, 0.411);
    overflow: auto;
    font-size: 14px;
}

.item-opt1, .item-opt2, .item-opt3 {
    padding: 3px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 3px 0;
    text-decoration: none;
    transition: all 250ms ease-in;
}

.link-item-opt>.item-opt1, .link-item-opt>.item-opt2 {
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--cl-sd);
}

.link-item-opt>.item-opt2 i, .link-item-opt>.item-opt2 span {
    box-sizing: border-box;
    padding: 5px;
    display: block;
}

.link-item-opt>.item-opt2 i {
    width: 15%;
    text-align: center;
}

.link-item-opt>.item-opt2 span {
    width: 70%;
    text-align: left;
}

.link-item-opt>.item-opt3 {
    text-align: center;
    border: 2px solid var(--cl-link);
    color: var(--cl-link);
    display: block;
    font-weight: 800;
}

.link-item-opt>.item-opt1 picture {
    width: 20%;
    border-radius: 50%;
    overflow: hidden;
}

.link-item-opt>.item-opt1 picture>img {
    display: block;
    width: 100%;
    height: 100%;
}

.link-item-opt>.item-opt1 p {
    overflow: hidden;
    width: 80%;
    height: 100%;
    text-align: left;
}

.link-item-opt>.item-opt1 p>strong, .link-item-opt>.item-opt1 p>span {
    display: block;
    padding: 3px 10px;
    box-sizing: border-box;
}

/***** LOGO *****/

.box-logo a {
    text-decoration: none;
    display: block;
    padding: 10px 12px;
    color: var(--cl-link);
}

/**************
    BOX-SECTION
************/

.box-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box-section {
    height: 100vh;
}

.fr-login {
    width: 98%;
    max-width: 350px;
    box-shadow: 0px 5px 15px rgba(185, 185, 185, 0.411);
}

.fr-login .fr-title {
    box-sizing: border-box;
    text-align: center;
    padding: 25px 5px;
    text-transform: uppercase;
    color: var(--cl-sd);
}

.group-input {
    margin: 20px auto;
    width: 85%;
}

.group-input input {
    width: 100%;
    display: block;
    padding: 10px 5px;
    box-sizing: border-box;
    border: 1px solid rgb(19, 69, 151);
    border-radius: 5px;
    color: var(--cl-sd);
}

.group-input input:focus {
    outline-width: 0px;
}

.btn {
    border: 1px solid transparent;
    width: 100%;
    display: block;
    padding: 10px 5px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}

.btn-pr {
    background-color: rgb(19, 69, 151);
    color: var(--cl-pd);
}

/**************
    ALERTS
************/

.alerts {
    text-align: center;
    margin: 10px;
    position: relative;
    padding: 10px 5px;
    box-sizing: border-box;
}

.alert-warn::before, .alert-succ::before {
    content: "";
    width: 3px !important;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.alert-warn::before {
    background-color: rgb(233, 43, 43);
}

.alert-warn {
    color: rgb(233, 43, 43);
    background-color: rgba(233, 43, 43, 0.061);
}

.alert-succ::before {
    background-color: rgb(22, 207, 37);
}

.alert-succ {
    color: rgb(22, 207, 37);
    background-color: rgba(22, 207, 37, 0.061);
}

/**************
    CARDS
************/

.card-1 {
    width: 95%;
    max-width: 700px;
    margin: 15px auto;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(185, 185, 185, 0.411);
    overflow: hidden;
}

.card-bg-p {
    background-color: rgb(3, 45, 122);
    color: var(--cl-pd);
}

.card-hd1, .card-bd1 {
    padding: 10px;
    box-sizing: border-box;
}

.card-bd1 p {
    margin: 5px 0px;
}

/**************
    STRUCTURE
************/

.section-1 {
    height: 100vh;
    display: grid;
    grid-template-columns: 0px 100%;
    z-index: 25;
    position: relative;
}

.navbar-bd, .main-bd {
    overflow: auto;
    transition: all 250ms ease-in;
}

.navbar-bd {
    background-color: var(--cl-pd);
    box-shadow: 0px 5px 15px rgba(185, 185, 185, 0.411);
}

.navbar-bd .nav-title {
    color: var(--cl-sd);
    display: block;
    margin: 5px 0;
    font-size: 14px;
    padding-left: 10px;
    box-sizing: border-box;
}

/******** NAVBAR - MENU *********/

.navbar-bd .efect-left:hover::before {
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--cl-link);
}

.navbar-bd .efect-left:hover {
    padding-left: 15px;
    box-sizing: border-box;
}

.list-group-link, .opt-link {
    overflow: hidden;
    transition: all 250ms ease-in;
}

.link-1 {
    display: block;
    padding: 10px 5px;
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid rgba(204, 204, 204, 0.541);
    cursor: pointer;
    color: var(--cl-link);
    position: relative;
    transition: all 250ms ease-in;
}

.link-1>i, .link-1>span {
    display: block;
}

.link-ind, .list-group-link>.link-1, .list-group-link>.opt-link>.link-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.link-ind>i, .list-group-link .link-1>i {
    text-align: center;
    width: 15%;
}

.link-ind>span, .list-group-link>.opt-link>.link-1>span {
    width: 85%;
}

.list-group-link>.link-1>span {
    width: 70%;
}
